<%- include("./../partial/_header.ejs") %>
<%- include("./../partial/_navbar.ejs") %>

<div class="container-fluid p-0">
  <div class="d-flex">
    <%- include("./../partial/_sidebar.ejs") %>
    <div class="container m-2">
      <div class="d-flex justify-content-between align-items-center">
        <h1><%= data.title %></h1>
        <a href="/profile/update" class="btn btn-primary me-3">Edit Profile</a>
      </div>
      <div class="d-flex">
        <div class="card col-4 p-2">
          <table>
            <tr>
              <td class="text-end pe-2">FullName</td>
              <td class="<%= profile.fullName ? "text-success" : "text-secondary" %>"><%= profile.fullName ?? "Edit your Profile" %></td>
            </tr>
            <tr>
              <td class="text-end pe-2">Birth Place</td>
              <td class="<%= profile.fullName ? "text-success" : "text-secondary"%>"><%= profile.birthPlace ?? "Edit your Profile" %></td>
            </tr>
            <tr>
              <td class="text-end pe-2">Birth Date</td>
              <td class="<%= profile.fullName ? "text-success" : "text-secondary"%>"><%= profile.birthdate ?? "Edit your Profile" %></td>
            </tr>
            <tr>
              <td class="text-end pe-2">Gender</td>
              <td class="<%= profile.fullName ? "text-success" : "text-secondary"%>"><%= profile.gender ?? "Edit your Profile" %></td>
            </tr>
            <tr>
              <td class="text-end pe-2">Phone Number</td>
              <td class="<%= profile.fullName ? "text-success" : "text-secondary"%>"><%= profile.phoneNumber ?? "Edit your Profile" %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./../partial/_footer.ejs") %>
